@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@200;300;400;600&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: Heebo, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}
h4,h1,h2,h3,h5 {
  font-weight: 700;
  font-family: Bebas Neue, sans-serif !important;
}
p{
  font-size: 15px;
}
* {
  box-sizing: border-box;
}
.slick-prev {
  display: none !important;
}
.slick-next {
  display: none !important;
}
.slick-slide  {
  margin-right: 0px !important;
}